

body {
    background-color: rgb(245, 223, 240);
    background: url("../images/background.png") center; 
    color: rgb(83, 9, 73);
    vertical-align: center;
    font-family: 'Handlee';
  

    }

.wrapper{
display: flex;
    flex-direction: column;
    justify-content: center;
 
}

    h1{
      
        margin: 20px;
        font-size:20px;
        text-align: center;
        font-size:40px;
        font-family: 'Shadows Into Light Two', cursive;
        
    }


    #container {
     background:lightsteelblue;
        /* position:absolute; */
        /* width: 998px; */
        margin: 30px;
        padding: 20px; 
        /* border: 1px groove black; */
        font-size:20px;
        text-align: center;


    }

    #Top{
        position: relative; 
    
    }
    
    #display{
    float: right; 
    }

    #Question{
        /* float: left;  */
        margin: auto;
        padding: 30px;
        }

    .option{
        
        padding: 20px;
        margin: 10px;
        
        }

    .option:hover {

    padding: 10px;
        border: 1px solid rgb(38, 0, 128); 
       background-color:  rgba(149, 127, 185, 0.616);
    
    }

    
    #StartGame{
        background-color:white;
        font-size: 20px;
        padding: 10px 150px;
        border: 1px solid rgb(38, 0, 128); 
       background-color:  rgba(149, 127, 185, 0.616);

    }